@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Mi Mascota Favorita</h2>
<img src="~/images/laycasa.jpeg" alt="Foto de laycasa" />
<article>
    <p>Mi mascota era una [gata], se llamaba [laycasa] y fue mi [mascota y amiga desde que estaba en el colegio y falleció el año pasado].</p>
</article>

</div>
