@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Mi Mascota Favorita</h2>
<img src="~/images/laycasa.jpeg" alt="Foto de laycasa" />
<article>
    <p>Mi mascota era una [gata], se llamaba [laycasa] y fue mi [mascota y amiga desde que estaba en el colegio y falleció el año pasado].</p>
</article>
<hr>
<h2>Viaje con mi Mascota</h2>
<img src="~/images/pNegra.jpg" alt="Foto del lugar del viaje" />
<article>
    <p>Nosotros nos cambiamos a villa maría para poder vivir más cerca de nuestros lugares de trabajo y estudio pero a veces regresabamos con laycasa.</p>
</article>

</div>
